body {
    background-color: #000034;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    
    font-size: 5rem;
}
.container-nav {
    color: white;
    font-family: 'Abril Fatface', cursive;
}
.nav-link, a {
    color: white;
    font-size: 2rem; 
}
a:hover {
    text-decoration: none;
}
h2 {
    font-size: 2rem;
    text-align: center;
    color: #000034;
    font-family: 'Abril Fatface', cursive;
}
#about-me, #education, #my-skills {
    text-align: center;
    color: #000034;
    background-color: white;
    font-family: 'Playfair Display', serif;
}
#my-projects, .project-head, .education-head {
    background-color: white;
    color: #000034;
    padding: 20px
}
h4 {
    text-align: center;
    color: #000034;
    font-family: 'Abril Fatface', cursive;
}
.list-inline-item {
    font-size: 4rem;
}
.lead {
    color: white;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}
#footer {
    background-color: #000034;
    color: white;
    font-family: 'Playfair Display', serif;
}

/* @media (max-width: 500px){
    body {
        background-color: white;
    }
}
@media (orientation: landscape) {

} */